body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.subtitle {
    margin-top: -15px;
    margin-bottom: 40px;
    font-size: 14px;
    color: gray;
}

select {
    padding: 5px;
    margin-right: 15px;
}

circle {
    opacity: 0.7;
    stroke: black;
    stroke-width: 0.5px;
}

#legend {
    display: flex;
    justify-content: center;
    gap: 20px;               
    margin-top: 30px;
}

.legend-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    margin-left: 6px;   
    display: inline-block;
}